p {
  text-align: justify;
  text-justify: inter-word;
}
.slider-wrapper {
  float: right;
  width: 40%;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: hidden;   /* important so rounded corners clip inside */
}

